<div class="deznav">
	<div class="deznav-scroll dz-scroll">
		<ul class="metismenu" id="menu">
			<li>
				<a class="ai-icon" href="/">
					<i class="fa-solid fa-chart-line"></i> <!-- Dashboard -->
					<span class="nav-text">Dashboard</span>
				</a>
			</li>
			<li>
				<a class="ai-icon" href="{{url('web_01:service_list')}}" aria-expanded="false">
    				<i class="fa-solid fa-clipboard-list"></i>
    				<span class="nav-text">Sử dụng dịch vụ</span>
				</a>
			</li>
			<li>
				<a class="ai-icon" href="{{url('web_01:table_list')}}" aria-expanded="false">
					<i class="fa-solid fa-utensils"></i> <!-- Bàn -->
					<span class="nav-text">Bàn</span>
				</a>
			</li>
			<li>
				<a class="ai-icon" href="{{url('web_01:order_list')}}" aria-expanded="false">
					<i class="fa-solid fa-list-alt"></i> <!-- Đơn hàng -->
					<span class="nav-text">Đơn hàng</span>
				</a>
			</li>

			<li>
				<a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
					<i class="fa-solid fa-boxes-stacked"></i>
					<span class="nav-text">Kho hàng</span> <!-- hoặc Hàng hóa, Món & Kho,... -->
				</a>
				<ul aria-expanded="false" class="mm-collapse">
					<li>
						<a class="ai-icon" href="{{url('web_01:product_list')}}" aria-expanded="false">
							<i class="fa-solid fa-box-open"></i> <!-- Sản phẩm -->
							<span class="">Sản phẩm</span>
						</a>
					</li>
					<li>
						<a class="ai-icon" href="{{url('web_01:inventory_list')}}" aria-expanded="false">
							<i class="fa-solid fa-basket-shopping"></i> <!-- Nguyên liệu -->
							<span class="">Nguyên liệu</span>
						</a>
					</li>
				</ul>
			</li>
			

			<li>
				<a class="ai-icon" href="{{url('web_01:customer_list')}}" aria-expanded="false">
					<i class="fa-solid fa-users"></i> <!-- khách hàng -->
					<span class="nav-text">Khách hàng</span>
				</a>
			</li>

			<li>
				<a class="ai-icon" href="{{url('web_01:employee_list')}}" aria-expanded="false">
					<i class="fa-solid fa-users-gear"></i> <!-- nhân viên -->
					<span class="nav-text">Nhân viên</span>
				</a>
			</li>

			<li>
				<a class="ai-icon" href="{{url('web_01:table_reservation_list')}}" aria-expanded="false">
					<i class="fa-solid fa-calendar-check fa-lg"></i> <!-- đặt bàn -->
					<span class="nav-text">Đặt bàn</span>
				</a>
			</li>
			
		</ul>
	</div>
</div>