.footer {
    background-color: var(--bg-color-default);
    padding: 20px 0;

    // border-top: 1px solid rgba(255, 255, 255, 0.2);
    [data-theme="light"] & {
        color: black !important; // Khi Light Mode, đổi thành đen
        background-color: white !important;
    }


    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .left {
        display: flex;
        align-items: center;
        color: rgba(255, 255, 255, 0.7);

        a {
            display: flex;
            align-items: center;
            margin-right: 10px;
        }

        svg {
            width: 30px;
            height: 24px;
            fill: rgba(255, 255, 255, 0.7);
        }

        [data-theme="light"] & {
            color: black !important; // Khi Light Mode, đổi thành đen
        }
    }

    .right {
        display: flex;
        align-items: center;
        margin-right: 40px;

        a {
            margin-left: 15px;
            color: rgba(255, 255, 255, 0.7);
            transition: 0.3s;



            &:hover {
                color: #fff; // Hiệu ứng hover sáng lên
            }

            svg {
                width: 24px;
                height: 24px;
                fill: rgba(255, 255, 255, 0.7);

                [data-theme="light"] & {
                    fill: var(--bg-color-default) !important; // Khi Light Mode, đổi thành đen
                }

            }
        }
    }
}